@{
    ViewData["Title"] = "WriteBoard App";
}
<div id="wb-tools">
    <button id="wb-scroll" class="wb-tool" title="Scroll Tool"><i class="fa fa-fw fa-arrows"></i></button>
    <button id="wb-clear" class="wb-tool" title="Clear"><i class="fa fa-fw fa-file-o"></i></button>
    <button id="wb-text" class="wb-tool" title="Text Tool"><i class="fa fa-fw fa-font"></i></button>
    <button id="wb-marker" class="wb-tool active" title="Marker"><i class="fa fa-fw fa-pencil"></i></button>
    <input id="wb-color-picker" class="color no-alpha wb-tool" value="#000000" title="Set Color" />
    <button id="wb-eraser" class="wb-tool" title="Eraser"><i class="fa fa-fw fa-eraser"></i></button>
    &nbsp;
    <input id="wb-line-width" type="range" max="5" min="1" value="1">
    <span id="wb-line-width-shape"></span>
</div>
<canvas id="wb-canvas" width="@ViewBag.wbWidth" height="@ViewBag.wbHeight"></canvas>
<canvas id="wb-map" width="240" height="135"></canvas>
<video id="wb-cam" width="240" height="135" data-enabled="false"></video>
<button id="wb-capture"><i class="fa fa-camera"></i></button>

<script>
    var wbKey = "@ViewBag.wbKey";
    var wbWidth = "@ViewBag.wbWidth";
    var wbHeight = "@ViewBag.wbHeight";
</script>
<input type="hidden" id="wb-state" value="@ViewBag.wbState"/>